@import '../libs/animate.min.css';
@font-face {
  font-family: Reaver;
  src: url(../font/Reaver.woff);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Reaver;
  src: url(../font/Reaver-Regular.woff);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Reaver;
  src: url(../font/Reaver-SemiBold.woff);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: radiance;
  src: url(../font/radiance.woff);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: radiance;
  src: url(../font/radiance-bold.woff);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: radiance;
  src: url(../font/radiance-semibold.woff);
  font-weight: 500;
  font-style: normal;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Reaver";
  outline: none;
}

body {
  position: relative;
}
body::-webkit-scrollbar {
  width: 0px;
}

.container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

h1, h2, p {
  margin-bottom: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

a:focus {
  text-decoration: none;
  color: inherit;
}

a:active {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 1279px) {
  ::-webkit-scrollbar {
    width: 0px;
  }
  .container {
    max-width: 980px;
  }
}
@media (max-width: 999px) {
  ::-webkit-scrollbar {
    width: 0px;
  }
  .container {
    padding: 0 10px;
    max-width: 980px;
  }
}
@media (max-width: 639px) {
  ::-webkit-scrollbar {
    width: 0px;
  }
  .container {
    padding: 0 10px;
    max-width: 610px;
  }
}
@media (max-width: 319px) {
  .container {
    max-width: 300px;
    padding: 0 0px;
  }
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  color: #fff;
  width: 298px;
  height: 54px;
  border-radius: 25px;
  border: 0;
  text-transform: uppercase;
}
.btn:hover {
  background: #E47209;
}
.btn:active {
  background: #4B9200;
}
.btn:disabled {
  background: #767474;
}

.audio-player {
  height: 60px;
  border: none;
  width: 100%;
  color: white;
  font-size: 0.75em;
  overflow: hidden;
  display: grid;
  grid-template-rows: 6px auto;
}
.audio-player .timeline {
  border-radius: 2px;
  background: white;
  width: 100%;
  position: relative;
  cursor: pointer;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5333333333);
}
.audio-player .timeline .progress {
  background: #ff6046;
  box-shadow: 0px 0px 10px #ff6046, 0px 0px 10px #ff6046;
  width: 0%;
  height: 100%;
  transition: 0.25s;
}
.audio-player .controls {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 0 20px;
  padding-top: 20px;
}
.audio-player .controls > * {
  display: flex;
  justify-content: center;
  align-items: center;
}
.audio-player .controls .toggle-play.play {
  cursor: pointer;
  position: relative;
  left: 0;
  height: 0;
  width: 0;
  border: 7px solid rgba(0, 0, 0, 0);
  border-left: 13px solid white;
}
.audio-player .controls .toggle-play.play:hover {
  transform: scale(1.1);
}
.audio-player .controls .toggle-play.pause {
  height: 15px;
  width: 20px;
  cursor: pointer;
  position: relative;
}
.audio-player .controls .toggle-play.pause:before {
  position: absolute;
  top: 0;
  left: 0px;
  background: white;
  content: "";
  height: 15px;
  width: 3px;
}
.audio-player .controls .toggle-play.pause:after {
  position: absolute;
  top: 0;
  right: 8px;
  background: white;
  content: "";
  height: 15px;
  width: 3px;
}
.audio-player .controls .toggle-play.pause:hover {
  transform: scale(1.1);
}
.audio-player .controls .time {
  display: flex;
}
.audio-player .controls .time > * {
  padding: 2px;
}
.audio-player .controls .volume-container {
  cursor: pointer;
  position: relative;
  z-index: 2;
}
.audio-player .controls .volume-container .volume-button {
  height: 26px;
  display: flex;
  align-items: center;
}
.audio-player .controls .volume-container .icono-volumeMedium {
  width: 20px;
  height: 20px;
  position: relative;
}
.audio-player .controls .volume-container .icono-volumeMedium::before {
  content: "";
  background: url(./../icons/volume-on.svg);
  width: 22px;
  position: absolute;
  height: 22px;
  z-index: 10;
}
.audio-player .controls .volume-container .icono-volumeMute {
  width: 20px;
  height: 20px;
  position: relative;
}
.audio-player .controls .volume-container .icono-volumeMute::before {
  content: "";
  background: url(./../icons/volume-off.svg);
  width: 22px;
  position: absolute;
  height: 22px;
  z-index: 10;
}
.audio-player .controls .volume-container .volume-slider {
  position: absolute;
  left: -3px;
  top: 10px;
  z-index: -1;
  width: 0;
  height: 15px;
  background: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6666666667);
  transition: 0.25s;
}
.audio-player .controls .volume-container .volume-slider .volume-percentage {
  background: #ff6046;
  height: 100%;
  width: 75%;
}
.audio-player .controls .volume-container:hover .volume-slider {
  left: -125px;
  width: 120px;
}

.body {
  height: 100vh;
  background: #000;
  cursor: default;
}

.promo {
  display: flex;
  width: 100%;
  height: 100vh;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.promo__bg {
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  height: 30vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.promo__img {
  width: 100%;
  opacity: 0.6;
  z-index: -1;
}
.promo__shadow {
  background: linear-gradient(to top, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.733) 90%, rgb(0, 0, 0) 100%);
}
.promo__text {
  width: 100%;
  margin: 0 auto;
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  z-index: 5;
  color: #fff;
}
.promo__title {
  color: #e2dace;
  text-transform: uppercase;
  line-height: 90%;
  opacity: 1;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 100px;
  text-shadow: 0px 0 black, 0 0 black, 0 0 10px black, 0 0 0px black;
}
.promo .minor {
  font-size: 50px;
}
.promo__divider {
  width: 80px;
  height: 3px;
  min-height: 3px;
  background-color: #ff6046;
  border-radius: 1px;
}
.promo__descr {
  text-align: center;
  margin-top: 25px;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  color: #e2dace;
  font-size: 26px;
  line-height: 115%;
  font-weight: 100;
  font-family: radiance;
}
.promo__btn {
  border: 3px solid rgba(255, 255, 255, 0.3137254902);
  padding: 15px 25px;
  margin: 30px 30px 10px 30px;
  border-radius: 5px;
  cursor: pointer;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition-duration: 0.2s;
}
.promo__btn:hover {
  border: 3px solid #ff6046;
  margin-top: 28px;
}
.promo__btn-inner-text {
  font-family: radiance;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
}

@media (max-width: 999px) {
  .promo__bg {
    height: 20vh;
  }
  .promo__title {
    font-size: 80px;
  }
  .promo__title .minor {
    font-size: 35px;
  }
}
@media (max-width: 639px) {
  .promo__title {
    line-height: 123%;
    font-size: 59px;
  }
  .promo__title .minor {
    font-size: 18px;
    line-height: 0;
  }
  .promo__descr {
    font-size: 19px;
  }
}
.body {
  background: #000;
  cursor: default;
}

.results {
  display: flex;
  width: 100%;
  min-height: 764px;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.results__bg {
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  height: 30vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.results__img-wrapper {
  width: 100vw;
  height: 100vh;
}
.results__img {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.6;
  z-index: -1;
}
.results__shadow {
  background: linear-gradient(to top, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.733) 90%, rgb(0, 0, 0) 100%);
}
.results__text {
  width: 100%;
  margin: 0 auto;
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  z-index: 5;
  color: #fff;
}
.results__title {
  line-height: 200%;
  color: #e2dace;
  text-transform: uppercase;
  opacity: 1;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 34px;
  text-shadow: 0px 0 black, 0 0 black, 0 0 10px black, 0 0 0px black;
}
.results .minor {
  font-size: 50px;
}
.results__descr {
  text-align: center;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  color: #e2dace;
  font-size: 26px;
  line-height: 115%;
  font-weight: 100;
  font-family: radiance;
}
.results__btn {
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  background: rgba(0, 0, 0, 0.2);
  border: 3px solid rgba(255, 255, 255, 0.3137254902);
  padding: 15px 25px;
  margin: 30px 30px 10px 30px;
  border-radius: 5px;
  cursor: pointer;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition-duration: 0.2s;
}
.results__btn:hover {
  border: 3px solid #ff6046;
  margin-top: 28px;
}
.results__btn-inner-text {
  font-family: radiance;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
}

@media (max-width: 999px) {
  .results__bg {
    height: 20vh;
  }
  .results__title {
    font-size: 23px;
  }
  .results__title .minor {
    font-size: 35px;
  }
}
@media (max-width: 639px) {
  .results__title {
    line-height: 132%;
    font-size: 24px;
  }
  .results__title .minor {
    font-size: 18px;
    line-height: 3;
  }
  .results__descr {
    font-size: 19px;
  }
}
.game__bg {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100vh;
}
.game__bg-img, .game__bg-img-fire {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100vh;
  z-index: -2;
  opacity: 0.7;
}
.game__bg-img-fire {
  position: absolute;
  left: 0;
  z-index: -1;
}

.header__wrapper {
  height: 110px;
  padding: 20px 0;
  font-size: 24px;
  font-family: "Reaver", serif;
  font-weight: 600;
  letter-spacing: 3px;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header__logo-with-lang {
  display: flex;
  align-items: center;
  column-gap: 50px;
}
.header__btn {
  border: 3px solid rgba(255, 255, 255, 0.3137254902);
  padding: 15px 25px;
  border-radius: 5px;
  cursor: pointer;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition-duration: 0.2s;
  opacity: 0.8;
}
.header__btn:hover {
  border: 3px solid #ff6046;
  margin-top: -2px;
  opacity: 1;
}
.header__btn-inner-text {
  font-family: radiance;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
}
.header__btn-inner-text img {
  padding: 0 2px 4px 2px;
  width: 27px;
  height: 27px;
}
.logo {
  opacity: 0.8;
  transition: 0.2s;
}
.logo__wrapper {
  display: flex;
  column-gap: 10px;
  align-items: center;
}
.logo__image {
  width: 50px;
  height: 50px;
}
.logo__image img {
  width: 100%;
  height: 100%;
}
.logo__title {
  font-size: 30px;
  text-transform: uppercase;
  color: #ff6046;
  text-shadow: 1px 1px 8px #ff6046;
}
.logo:hover {
  opacity: 1;
}

.language {
  cursor: pointer;
  transition-duration: 0.2s;
  opacity: 0.8;
}
.language__wrapper {
  display: flex;
  column-gap: 6px;
}
.language:hover {
  opacity: 1;
}

.pagination__wrapper {
  color: #fff;
  display: flex;
  justify-content: space-between;
}
.pagination__bg {
  background: rgba(37, 40, 46, 0.71);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  border-radius: 4px;
}
.pagination__item {
  list-style: none;
  padding: 15px 25px;
  border-radius: 5px;
  cursor: pointer;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition-duration: 0.2s;
  opacity: 0.8;
}
.pagination__item_active {
  border: 2px solid;
}
.pagination__link {
  font-family: radiance;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0px 0px 10px #427ed1, 0px 0px 10px #427ed1;
}

.jumbotron__wrapper {
  display: flex;
  align-items: center;
  column-gap: 20px;
  padding: 15px;
  margin-top: 20px;
  background: rgba(37, 40, 46, 0.71);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  border-radius: 4px;
}
.jumbotron__img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 120px;
  width: 120px;
  border-radius: 4px;
  border: 2px solid white;
}
.jumbotron__img img {
  background: rgba(255, 255, 255, 0.6117647059);
  width: 100%;
  height: 100%;
}
.jumbotron__player {
  flex: auto;
}
.jumbotron__title {
  font-family: radiance;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0px 0px 10px #427ed1, 0px 0px 10px #427ed1;
}
.jumbotron__divider {
  padding: 5px;
}

.variant {
  width: 50%;
}
.variant__wrapper {
  margin: 0;
  width: 100%;
  display: flex;
  column-gap: 20px;
  padding: 0;
  background: rgba(37, 40, 46, 0.71);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  border-radius: 4px;
  flex-direction: column;
  color: #fff;
}
.variant__list {
  cursor: pointer;
  opacity: 0.7;
  border-bottom: 1px solid #494949;
  padding: 15px;
  font-family: radiance;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
  transition: 0.2s;
}
.variant__list:last-child {
  border-bottom: none;
}
.variant__list:hover {
  opacity: 1;
  outline: 2px solid;
  border-radius: 2px;
  text-shadow: 0px 0px 10px #427ed1, 0px 0px 10px #427ed1;
  z-index: 0;
}
.variant__list_incorrect {
  background: rgba(125, 0, 12, 0.7215686275);
  color: #ffbcb1;
  opacity: 1;
  text-shadow: 1px 1px 8px #ff6046;
}
.variant__list_incorrect:hover {
  outline: none;
  border-radius: none;
  text-shadow: 1px 1px 8px #ff6046;
}
.variant__list_correct {
  background: rgba(29, 125, 0, 0.72);
  color: #daffc2;
  opacity: 1;
  text-shadow: 1px 1px 8px #47ff46;
}
.variant__list_correct:hover {
  outline: none;
  border-radius: none;
  text-shadow: 1px 1px 8px #47ff46;
}
.game-controls {
  margin-top: 20px;
  display: flex;
  column-gap: 20px;
}

.details {
  width: 50%;
}
.details__wrapper {
  width: 100%;
  display: flex;
  column-gap: 20px;
  padding: 20px;
  background: rgba(37, 40, 46, 0.71);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  border-radius: 4px;
  flex-direction: column;
  color: #fff;
}
.details__instruction {
  display: block;
}
.details__instruction-text, .details__instruction-title {
  font-family: radiance;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
}
.details__instruction-title {
  text-decoration: underline;
}

.details__hero {
  display: none;
}

.hero__wrapper {
  display: flex;
  column-gap: 20px;
}
.hero__video {
  height: 155px;
  background: url(../img/hero-bg.jpg);
  background-repeat: round;
  border-radius: 4px;
  border: 2px solid grey;
}
.hero__descr {
  flex: auto;
}
.hero__text {
  margin-top: 10px;
  padding-right: 5px;
  overflow: auto;
  height: 128px;
  font-size: 15px;
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.hero__text::-webkit-scrollbar {
  width: 10px;
}
.hero__text::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey;
  border-radius: 10px;
}
.hero__text::-webkit-scrollbar-thumb {
  background: #464646;
  border-radius: 10px;
}
.hero__text::-webkit-scrollbar-thumb:hover {
  background: #2f2f2f;
}
.hero__name {
  font-family: radiance;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
}
.hero__phrase {
  margin-top: 5px;
  font-style: italic;
  font-size: 14px;
}
.hero__audio {
  margin-top: 20px;
}

.next-btn {
  width: 100%;
  margin-top: 20px;
  border: 3px solid rgba(255, 255, 255, 0.3137254902);
  padding: 15px 25px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition-duration: 0.2s;
  opacity: 0.8;
}
.next-btn__inner-text {
  font-family: radiance;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
}
.next-btn_active {
  border-color: #1c6209;
  background: rgba(36, 96, 34, 0.46);
  color: #daffc2;
  opacity: 1;
  text-shadow: 1px 1px 8px #47ff46;
}
.next-btn_active:hover {
  background: rgba(44, 117, 41, 0.46);
  margin-top: 18px;
  margin-bottom: 2px;
}

.footer__wrapper {
  border-radius: 5px 0 0 0px;
  position: fixed;
  display: flex;
  width: 300px;
  height: 80px;
  z-index: 10;
  background: #e2dace;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-content: space-around;
}
.footer__github {
  width: 50px;
  height: 50px;
  transition: 0.2s all;
}
.footer__github:hover {
  width: 54px;
  height: 54px;
}
.footer__rs {
  height: 50px;
  transition: 0.2s all;
}
.footer__rs:hover {
  height: 54px;
}
.footer__year {
  font-weight: 500;
}